<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                todos: [
                    { text: 'Helloo' },
                    { text: 'Asearse' },
                    { text: 'Desayunar' },
                    { text: 'Trabajar' },
                    { text: 'Almorzar' }
                ],
                todoInput: '',
            },
            methods: {
                deleteTodo: function(index){
                    this.todos.splice(index,1)
                },
                addTodo: function(todo){
                    this.todos.push({
                        text: todo
                    })
                    this.todoInput = ''
                }
            },
            computed:{
                now: function(){
                    return Date.now()
                }
            },
            template:   `<div class="container">
                            <div class="container-list">
                                <ol class="list">
                                    <li class="item" v-for="(todo, index) of todos" v-bind:key="index">
                                        <span class="item__text">{{todo.text}}</span>
                                        <button class="item__button" v-on:click="deleteTodo(index)">X</button>
                                    </li>
                                </ol>
                            </div>
                            <div class="container-control">
                                <input type="text" class="control__in" v-model="todoInput"/>
                                <button class="control__button" v-on:click="addTodo(todoInput)">Agregar</button>
                            </div>
                        </div>`
        })
    </script>
</body>
</html>